@media (max-width: 1023px) {
  * {
    z-index: 1;
  }

  .pre-header__burger-area {
    display: block;
    margin-right: 5px;
  }

  .pre-header__burger {
    width: 50px;
    height: 42px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #fff;
  }
  .pre-header__burger:focus {
    outline: none;
  }

  .pre-header__burger-item {
    background-color: #709dca;
    width: 50px;
    height: 4px;
    display: block;
    margin-top: 10px;
  }
  .pre-header__burger-item:first-child {
    margin-top: 0;
  }

  .pre-header__navbar {
    transition: 0.2s;
    display: none;
  }

  .active-burger {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 90px;
    background-color: #394b50;
    display: block;
  }

  .pre-header__mainbar {
    position: relative;
  }

  .pre-header {
    position: fixed;
    border-bottom: 3px solid #d9d9d9;
    z-index: 10 !important;
  }
}