@media (max-width:1023px)  {
    *{
        z-index: 1;
    }

    // burger
    .pre-header__burger-area{
        display: block;
        margin-right: 5px;
    }
    .pre-header__burger{
        width: 50px;
        height: 42px;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: #fff;
        &:focus{
            outline: none;
        }
    }
    .pre-header__burger-item{
        background-color: #709dca;
        width: 50px;
        height: 4px;
        display: block;
        margin-top: 10px;
        &:first-child{
            margin-top: 0;
        }
    }
    //navbar
    .pre-header__navbar{
        transition: .2s;
        display: none;
    }

    .active-burger{
        margin: 0;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 90px;
        background-color: #394b50;
        display: block;
    }
    .pre-header__mainbar{
        position: relative;
    }
    .pre-header{
        position: fixed;
        border-bottom: 3px solid darken($color: #fff, $amount: 15);
        z-index: 10 !important;
    }
    .pre-header__link{
        &:hover{
            color: $white;
            background-color: 0 !important;
        }
        &:focus{
            color: $white;
        }
    }
}